.App {
  text-align: center;
}

.Cover {
  height: 40vmin;
}

.Cover:hover {
  height: 42vmin;
  transition: .1s ease;
}

.Cover:active {
  opacity: 0.3;
  height: 45vmin;
}


.App-link {
  color: #61dafb;
}

